.Playlists-Container h2 {
  font-size: 25px;
  color: white;
  display: flex;
  margin-bottom: 25px !important;
}

.Playlists-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}

.Playlists-Grid img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
.Playlists-Grid .Info-Container {
  display: block;
}

.Playlists-Grid .Name-Label {
  color: white;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}

.Playlists-Grid .Owner-Label {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  color: grey;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .Playlists-Grid img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .Playlists-Container {
    padding: 0px;
  }

  .Playlists-Container h2 {
    color: white;
    display: flex;
    margin-bottom: 50px !important;
  }

  .Playlists-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .Playlists-Grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
