.Top-Artists-Container {
}

.Top-Artists-Header {
  display: block;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
}

.Top-Artists-Header h2 {
  font-size: 25px;
  margin-bottom: 25px !important;
}

.Top-Artists-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 10px;
}

.Top-Artists-Grid img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.Top-Artists-Grid :hover img {
  filter: brightness(50%);
}

.Top-Artists-Grid .Name-Label {
  color: white;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .Top-Artists-Grid img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .Top-Artists-Container {
    padding: 0px;
  }

  .Top-Artists-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: white;
  }

  .Top-Artists-Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
  }

  .Top-Artists-Grid img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .Top-Artists-Grid :hover img {
    filter: brightness(50%);
  }
}
