.Generator-Container {
  display: block;
}

.Generator-Header {
  display: block;
}

.Generator-Header h2 {
  color: white;
  font-size: 25px;
  margin-bottom: 25px;
}

.Header-Button-Container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.Refresh {
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  border-color: grey;
}

.Save {
  max-lines: 1;
  font-size: 10px;
  padding: 2px 20px;
}

.fa-sync {
  color: white;
  padding: 10px 5px;
}

@media only screen and (min-width: 768px) {
}
