.phantom {
  display: block;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.nav {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: black;
}

nav.bottom {
  background-color: black !important;
  align-content: center !important;
  justify-content: space-evenly !important;
  font-size: 12px;
  padding-top: 0;
  padding-bottom: env(safe-area-inset-bottom);
}

nav.bottom a.nav-item.nav-link {
  border-top: 2.5px solid transparent;
  color: grey;
}

nav.bottom a.nav-item.nav-link.active.active {
  color: var(--secondary-color) !important;
  border-top: 2.5px solid var(--secondary-color);
}

@media only screen and (min-width: 768px) {
  nav.navbar.bottom {
    display: none !important;
  }
}
