nav {
  background-color: black;
}

a.nav-item.nav-link {
  color: white !important;
}

a.navbar-brand {
  color: white !important;
}

a.nav-item.nav-link.active.active {
  color: var(--secondary-color) !important;
  border-bottom: 5px solid var(--secondary-color);
}

button.navbar-toggler {
  background-color: white !important;
}

@media only screen and (max-width: 768px) {
  nav.navbar.top {
    display: none !important;
  }
}
