.Playlist-Header {
  display: block;
  text-align: left;
  color: white;
  margin-bottom: 25px;
}

.Playlist-Header img {
  width: 100%;
  height: auto;
  padding: 5px;
  margin-bottom: 20px;
  align-content: center;
}

.Playlist-Header h1 {
  margin: 0 0 15px 0;
}

.Playlist-Header h5 {
  color: grey;
}

.Playlist-Body-Container {
  padding: 0px;
}

p {
  margin-top: 5px !important;
  color: white;
}

.tab {
  margin-bottom: 20px !important;
}

.Button-Container {
  justify-content: space-between !important;
}

@media only screen and (min-width: 768px) {
  .Playlist-Header {
    display: flex;
    text-align: left;
    color: white;
    margin-bottom: 25px;
  }

  .Playlist-Header img {
    margin-right: 20px;
    width: 300px;
    height: 300px;
  }

  .Playlist-Header h1 {
    margin: 0 0 8px 0;
  }

  .Playlist-Header h5 {
    color: grey;
  }

  .Playlist-Body-Container {
    padding: 25px;
  }

  p {
    margin-top: 5px !important;
    color: white;
  }
}
