.Playlists-Container {
  padding: 30px;
}

h2 {
  color: white;
  display: flex;
  margin-bottom: 50px !important;
}

.Playlists-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
}

.Playlists-Grid img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.Button-Container {
  display: flex;
}
