.Spotify-button {
  background-color: transparent;
  border: 2px solid #1db954;
  padding: 10px;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.Profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1 {
  color: white;
  font-size: 50px;
  margin: 15px;
}

.Profile-info div {
  display: inline-block;
  align-content: center;
  margin-bottom: 10px;
}

.Profile-info h3 {
  color: #1db954;
  font-size: 25px;
  margin: 10px;
}

.Profile-info p {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(155, 155, 155);
  letter-spacing: 1px;
}

.User-Preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 50px;
  gap: 70px 70px;
}

.User-Preview-Container {
  display: block;
}
