.Profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

h1 {
  color: white;
  font-size: 30px !important;
  margin: 15px;
}

.Profile-info div {
  display: inline-block;
  align-content: center;
  margin-bottom: 10px;
}

.Profile-info h3 {
  color: var(--secondary-color);
  font-size: 25px;
  margin: 10px;
}

.Profile-info p {
  font-size: 12px;
  text-transform: uppercase;
  color: rgb(155, 155, 155);
  letter-spacing: 1px;
}

.User-Preview {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 25px;
  gap: 50px;
}

.User-Preview-Container {
  display: block;
  overflow: hidden;
}

.TrackList-Heading {
  color: white;
  font-size: 20px;
  margin-bottom: 25px !important;
}

.logout {
  font-size: 16px;
}

.logout:hover {
  border-color: grey;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  h1 {
    font-size: 20px !important;
    margin-top: 2px !important;
    margin-bottom: 14px !important;
  }

  .Profile-info h3 {
    font-size: 16px;
  }

  .Profile-info p {
    font-size: 8px;
  }
}

@media only screen and (min-width: 360px) {
  h1 {
    font-size: 25px !important;
  }
}

@media only screen and (min-width: 768px) {
  .Profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  h1 {
    color: white;
    font-size: 50px !important;
    margin: 15px;
  }

  .Profile-info div {
    display: inline-block;
    align-content: center;
    margin-bottom: 10px;
  }

  .Profile-info h3 {
    color: var(--secondary-color);
    font-size: 25px;
    margin: 10px;
  }

  .Profile-info p {
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(155, 155, 155);
    letter-spacing: 1px;
  }

  .User-Preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 50px;
    gap: 70px 70px;
  }

  .User-Preview-Container {
    display: block;
  }
}
