.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 140px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  font-size: px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav nav {
  background-color: black;
}

.sidenav a.nav-item.nav-link {
  color: grey !important;
}

.sidenav a.nav-item.nav-link:hover {
  color: var(--secondary-color) !important;
  border-right: 5px solid var(--secondary-color);
  border-bottom: none;
  background: var(--main-color) !important;
}

.sidenav a.nav-item.nav-link.active.active {
  color: var(--secondary-color) !important;
  border-right: 5px solid var(--secondary-color);
  border-bottom: none;
  background: var(--main-color) !important;
}

.sidenav a.nav-item.nav-link.logo.active {
  border: none;
  color: white !important;
  background: black !important;
}
@media only screen and (max-width: 768px) {
  .sidenav {
    display: none !important;
  }
}
