.Top-Tracks-Header {
  display: block;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
}

.Top-Tracks-Header h2 {
  font-size: 25px;
  margin-bottom: 25px !important;
}

.tab {
  overflow: hidden;
}

.tab button {
  font-size: 16px;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 10px 10px 10px;

  color: white;
}

.tab button:hover {
  background-color: #ddd;
  color: black;
}

.tab button.active {
  border-bottom: 5px solid white;
  outline: none;
}

.tracklist {
  padding: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
  .tab button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 860px) {
  .Top-Tracks-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: white;
  }

  .tab {
    overflow: hidden;
  }

  .tab button {
    font-size: 18px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 20px 10px 20px;

    color: white;
  }

  .tab button:hover {
    background-color: #ddd;
    color: black;
  }

  .tab button.active {
    border-bottom: 5px solid white;
    outline: none;
  }

  .tracklist {
    padding-left: 32px;
    padding-right: 32px;
  }
}
