.Top-Tracks-Header {
  display: block;
  justify-content: space-between;
  margin-bottom: 25px;
  color: white;
}

.Top-Tracks-Header h2 {
  font-size: 25px;
  margin-bottom: 25px !important;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;

  color: white;
}

.tab button:hover {
  background-color: #ddd;
  color: black;
}

.tab button.active {
  border-bottom: 5px solid white;
  outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 340px) {
  .tab button {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .Top-Tracks-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: white;
  }

  .tab {
    overflow: hidden;
  }

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;

    color: white;
  }

  .tab button:hover {
    background-color: #ddd;
    color: black;
  }

  .tab button.active {
    border-bottom: 5px solid white;
    outline: none;
  }
}
