.track-list {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  /* display: inline-block; */
  width: 100%;
}

.track-list li {
  display: list-item;
  grid-template-columns: auto 1fr;
  margin-top: 30px;
  overflow: auto;
  cursor: pointer;
}
.track-list :first-child {
  margin-top: 0px;
}

.track-list img {
  float: left;
  margin: 0 15px 0 0;
}
.track-list h4 {
  font-size: 20px;
  text-align: left;
  margin: 0 0 0 0;
  color: white;
  max-lines: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-list p {
  color: #9b9b9b;
  text-align: left;
  margin: 0 0 0 0;
  max-lines: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trackInfo {
  display: grid;
  grid-template-columns: 1fr max-content;
  vertical-align: center;
  align-items: center;
  margin: 0 auto;
}
