th {
  color: grey;
  text-align: start !important;
}

td {
  vertical-align: middle !important;
  color: white;
  text-align: start;
  max-lines: 1;
  cursor: pointer;
}
.title:hover {
  text-decoration: underline;
}

.length {
  color: grey;
}

.th-select {
  transform: translate(10%);
}
